<div class="container">
    <div class="jumbotron">
        <H2>Welcome to viewdu portals.</H2>  
        <h3>This site is a blank installation of the portal application demonstrating the core functionality.<h3>
        <p>These include:</p>
        <ul>
            <li>On premise, Hosted or Software as a Service (SaaS) installation</li>
            <li>Extendable modular content where your solutions become subscribable SaaS offerings</li>
            <li>Full user self-service experience
            	<ul>
            		<li>Self-serve subscription cart with credit card payment</li>
            		<li>Account authentication with email verification</li>
            		<li>Social media sites (e.g.: Login with Facebook) authentication</li>
            		<li>Site content authentication and authorization</li>
            		<li>User-based forgotten password reset (with email/SMS alert)</li>
            		<li>Configurable user-feedback tracking and reporting</li>
            		<li>In-built reporting and business intelligence</li>
            	</ul>
            </li>
        </ul>
    </div>
</div>
