<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./#/"><img src="./images/icon.png" class="companyicon"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a ui-sref="home">{{'home.menu' | translate}}</a></li>
                <li ng-class="{ active: isActive('/dashboard')}"><a ui-sref="dashboard">{{'dashboard.menu' | translate}}</a></li>
                <!--<li ng-class="{ active: isActive('/posts')}"><a ui-sref="listPosts">Posts</a></li>
                <li ng-class="{ active: isActive('/comments')}"><a ui-sref="listComments">Comments</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Options<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn btn-link" ng-click="goToMyAccount()">
                                    My Account
                            </button>
                        </li>
                        <li><a href="\auth\logout">Logout</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-lg fa-globe" aria-hidden="true"></i>
                                Language<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="locale in getService().localeList">
                            <button class="btn btn-link" ng-click="getService().setLocale(locale.code)">
                                {{locale.name}}
                            </button>
                        </li>
                    </ul>
                </li>           
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
